[Unit]
Description=Automatically toggle loopback mixing depending on input stream

[Service]
Type=simple
ExecStart=/home/%u/dotfiles/autoloopback/target/release/autoloopback
Restart=on-failure

[Install]
WantedBy=default.target
