# Aliases
alias sudo="sudo "
alias s="sudo "
alias sa="sudo aura"
alias sp="sudo pacman"
alias n="nano"
alias ls="ls --color -Fh"
alias lsa="ls --color -FAh"
alias ll="ls --color -Fhl"
alias lla="ls --color -FAhl"
alias c="clear"
alias e="exit"
alias v="vim"
alias sv="sudoedit"
alias view="$TERMINAL -e less"

