# ls colors (duh)
export LS_COLORS='rs=0:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:su=37;41:sg=30;43:tw=30;42:ow=34;42:st=37;44:ex=01;32:';

# Aliases
alias sudo="sudo "
alias s="sudo "
alias sa="sudo aura"
alias sp="sudo pacman"
alias n="nano"
alias ls="ls --color -Fh"
alias lsa="ls --color -FAh"
alias ll="ls --color -Fhl"
alias lla="ls --color -FAhl"
alias c="clear"
alias e="exit"
alias v="vim"
alias sv="sudoedit"

